@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@200;500;700;800&display=swap');
@import url('./styles/header.css');
@import url('./styles/banner.css');
@import url('./styles/destaque.css');

:root {
    --fonte-textos: 'Raleway', sans-serif;
    --font-titulos: 'Calistoga', cursive;
    --cor-grandiente: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --azul-escuro: #304968;
    --roxo-boreal: #4650BD;
    --verde-escuro: #008364;
    --verde-claro: #36C1A0;
    --purple: #B6BCFF;
    --cor-da-fonte:#FFFFFF;
}

body {
    font-family: var(--fonte-textos);
    font-size: 16px;
    color: var(--cor-da-fonte);
    background:linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    background-repeat: no-repeat; 
}



