/* versão mobile */

.container__destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.destaque__imagem {
    background-image: url('../assets/Homepage1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 416px;
    width: 312px;
}

.destaque__informativo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}

.informativo__titulo {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 37.57px;
}

.informativo__texto {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
}

.informativo__botao { 
    display: flex;
    width: 256px;
    height: 56px;
    background-color: var(--roxo-boreal);
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 40px;
    color: var(--cor-da-fonte);
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}

.informativo__botao:hover {
    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 4px 4px 0 #444444;
}


/* versão tablets */

@media screen and (min-width: 768px){

    .container__destaque {
        padding: 2rem 3.75rem 0 3.75rem;
    }

    .destaque__imagem {
        width: 609px;
        height: 381px;
    }

    .informativo__titulo {
        padding:0 6rem;
    }

}

/* versão para desktops */

@media screen and (min-width: 1440px){
    .container__destaque {
        flex-direction: row;
        justify-content: space-around;
    }

    .destaque__informativo {
        width: 33.75rem;
    }
}



