/* Para mobile */

.detalhes {
    padding: 2rem 0;
}

.detalhes__posicionamento {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 32px;
}

.detalhes__titulo {
    padding-bottom: 2rem;
}

.detalhes__titulo,
.detalhes__subtitulo  {
    font-weight: 700;
    font-size: 2rem;
    line-height: 37.57px;
    text-align: center;
}

.detalhes__card {
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.detalhes__img--div {
    width: 312px;
    height: 239px;
}
 
.detalhes__img {
    width: 100%;
}

.detalhes__texto {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
}

/* Para Tablets */

@media screen and (min-width: 768px) {
    .detalhes__posicionamento {
        padding: 0 3.75rem;
    } 

    .detalhes__titulo {
        font-size: 2.5rem;
    }

    .detalhes__img--div {
        width: 382.4px;
        height: 293px;
    }
}

/* Para desktops */

@media screen and (min-width: 1440px) {
    .detalhes {
        padding: 3rem 0;
    }

    .detalhes__titulo {
        padding-bottom: 3rem;
    }

    .detalhes__posicionamento {
        flex-direction: row;
        height: 631px;
        padding: 0 7.5rem;
    }

    .detalhes__card:nth-child(2)  {
        align-self:flex-end;
    }
}