/* Para mobile */

.detalhes {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 32px;
}

.detalhes__titulo,
.detalhes__subtitulo  {
    font-weight: 700;
    font-size: 2rem;
    line-height: 37.57px;
    text-align: center;
}

.detalhes__card {
    display:flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.detalhes__img--div {
    width: 312px;
    height: 239px;
}
 
.detalhes__img {
    width: 100%;
}

.detalhes__texto {
    font-weight: 500;
    font-family: 1.25rem;
    line-height: 40px;
    text-align: center;
}

/* Para Tablets */

@media screen and (min-width: 768px) {
    .detalhes__titulo {
        font-size: 2.5rem;
    }

    .detalhes__img--div {
        width: 382.4px;
        height: 293px;
    }
}