/* Para mobile */

.principal__experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    gap: 8rem;
}

.experiencia__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.experiencia__card--img {
    background-repeat: no-repeat;
    width: 312px;
    height: 381px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.Acessibilidade {
    background-image: url('../assets/acessibilidade.svg');
}

.sustentabilidade {
    background-image: url('../assets/sustentabilidade.png');
}

.atracoes {
    background-image: url('../assets/atracoes.png');
}

.experiencia__card--descricao {
    text-align: center;

}

.card__descricao--titulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 37.57px;
}

.card__descricao--texto {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 40px;
}

/* Para tablets */

@media screen and (min-width: 768px){
    .experiencia__card--img {
        width: 609px;
        height: 381px;
    }

    .experiencia__card--descricao{
        width: 528px;
    }
}

/* Para desktops */

@media screen and (min-width: 1440px){
   
    .experiencia__card {
        flex-direction: row;
        gap: 3rem;
    }

    .experiencia__card:nth-child(2){
        flex-direction: row-reverse;
    }

    .experiencia__card:nth-child(2) .card__descricao--texto {
        text-align: end;
    }

    .experiencia__card--descricao {
        width: 540px;
    }

    .card__descricao--texto {
        text-align: start;
    }

}