/* versão mobile */

.cabecalho {
    background-color: var(--roxo-boreal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2rem 1.5rem;
}

.cabecalho__link {
    width: 14.938rem;
}

.cabecalho__link--logo {
    width: 100%;
}

.cabecalho__menu--hamburguer {
    width: 2.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/menu-hamburguer.svg');
    display: inline-block;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .cabecalho__menu > .menu__lista {
    display: flex;
} 

.menu__lista {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    background-color: var(--roxo-boreal);
    align-items: center;
}

.menu__lista--item {
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid white;
    transform: rotate(-0.39deg) ;
}

.menu__lista--link {
    color: var(--cor-da-fonte);
    text-decoration: none;
    font-weight: 700;
}

/* versão tablet */

@media screen and (min-width: 720px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
    }

    .cabecalho__menu--hamburguer{
        display: none;
    }

    .menu__lista {
        display: flex;
        position: inherit;
        flex-direction: row;
        gap: 2rem;
    }

    .menu__lista--item {
        border: none;
    }
}





