/* versão mobile */

.cabecalho {
    background-color: var(--roxo-boreal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    position: relative;
}

.cabecalho__link {
    width: 14.938rem;
}

.cabecalho__link--logo {
    width: 100%;
}

.cabecalho__menu--hamburguer {
    width: 2.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/menu-hamburguer.svg');
    display: block;
}

.menu__lista {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 100%;
    background-color: var(--roxo-boreal);
    left: 0;
    width: 100%;
    height: 0;
    transition: all 300ms ease;
}

.menu__lista--item {
    padding: .5rem 1rem;
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 3px solid var(--cor-da-fonte);
}

.menu__lista--item:first-child{
    border-top: 3px solid var(--cor-da-fonte);
}

.menu__lista--link {
    color: var(--cor-da-fonte);
    text-decoration: none;
    font-weight: 700;
}

/* versão tablet */

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
    }

    .cabecalho__menu--hamburguer {
        display: none;
    }

    .menu__lista {
        display: flex;
        position: inherit;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        overflow: visible;
        height: auto;
    }
    
    .menu__lista--item{
        padding: 0;
    }

    .menu__lista--item:first-child{
        border-top: none;
    }

    .menu__lista--item {
        border: none;
    }
    
    .menu__lista--link:hover {
        border-bottom: solid 2px var(--verde-claro);
    }
}

/* Para desktops */

@media screen and (min-width: 1440px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-around;
    }

}