/* Para mobile */

.principal__formulario {
    max-width: 100vw;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__titulo {
    font-size: 2rem;
    font-family: var(--font-titulos);
    font-weight: 400;
    line-height: 41.6px;
    text-align: center;
}

.formulario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.formulario__campo {
    display: flex;
    flex-direction: column;
}

.campo__etiqueta {
    font-weight: 700;
    font-size: 2rem;
    line-height: 37.57px;
}

.campo__escrita {
    padding: 8px 10px;
    border: none;
    outline: none;
    margin-top: .5rem;
    line-height: 40px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #444444;
    border-radius: 16px;
}

#ingresso {
    height: 56px;
}

.campo__escrita:focus-within {
    box-shadow: 2px 2px 10px var(--azul-claro);
    border: 3px solid var(--azul-claro);
}

.formulario__botao {
    text-align: center;
}

.botao__avancar {
    color: var(--cor-da-fonte);
    background-color: var(--roxo-boreal);
    padding: .5rem 1rem;
    border-radius: 16px;
    border: none;
    font-size: 1.25rem;
    line-height: 40px;
    font-weight: 700;
    width: 164px;
    cursor: pointer;
}

.botao__avancar:hover {
    box-shadow: 3px 3px 5px #444444;
    transform: scale(1.1);
    transition: 500ms;
}

.fa-arrow-right {
    margin-left: 1rem;
}

/* para tablets */

@media screen and (min-width: 768px) {

    .principal__formulario {
        padding: 2.5rem 3.75rem;
    }

    .formulario__titulo {
        font-size: 3rem;
        line-height: 62.4px;
    }

    .formulario__campo {
        width: 648px;
    }

    .formulario__campo:nth-child(4) {
        width: 453px;
    }
}

/* Para desktops */

@media screen and (min-width: 1440px) {
    .principal__formulario {
        padding:2.5rem 20.156rem;
    }
    .formulario {
        
        display: grid;
        grid-template-areas:
            "nome nome"
            "email email"
            "ingresso nascimento"
            "botao botao";
    }

    .formulario__campo:nth-child(1) {
        grid-area: nome;
        width: 100%;
    }

    .formulario__campo:nth-child(2) {
        grid-area: email;
        width: 100%;
    }

    .formulario__campo:nth-child(3) {
        grid-area: ingresso;
        width: 385px;
    }

    .formulario__campo:nth-child(4) {
        grid-area: nascimento;
        width: 385px;
    }

    .formulario__botao {
        grid-area: botao;
    }
}