/* Para mobile */

.line-up {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem 0 1.5rem;
    justify-content: center;
    align-items: center;
}

.line-up__titulo {
    font-family: var(--font-titulos);
    font-size: 3rem;
    font-weight: 400;
    line-height: 62.4px;
}

.line-up__bandas {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 3rem 0;
    align-items: center;
}

.bandas__data {
    font-family: var(--font-titulos);
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 41.6px;
    background-color: var(--verde-escuro);
    padding: 1rem;
    text-align: center;
}

.bandas__lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
}

.bandas__item:first-child {
    font-weight: 800;
    font-size: 3rem;
    line-height: 56.35px;
}

.gp1 {
    font-weight: 700;
    font-size: 2.5rem;
    Line-height:46.96px;
}

.gp2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 37.57px;
    opacity: 0.9;
}

.bandas__item:nth-last-child(-n + 4){
    font-weight: 500;
    font-size: 2rem;
    line-height: 38px;
    opacity: 0.8;
}

/* Para tablets */

@media screen and (min-width: 768px){

    .line-up__bandas div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .barra__esquerda , .barra__direita{
        height: 2px;
        width: 5.219rem;
        background-color: var(--verde-escuro);
    }

    .bandas__lista {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bandas__item:hover {
        transform: scale(1.2);
    }

    .bandas__item:first-child {
        display: block;
        width: 100%;
    }
        
}

/* Para desktops */

@media screen and (min-width: 1440px){
    .barra__direita, .barra__esquerda{
        width: 22.469rem;
    }

    .bandas__item:first-child {
        display: block;
        width: 100%;
    }
} 