/* Para mobiles */

.mapa-setores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa-setores__div {
    width: 360px;
    height: 360px;
}

.mapa-setores__img {
    width: 100%;
}

.mapa-setores__legenda{
    display: flex;
    flex-direction: column;
    padding:0 3.563rem;
    gap: 24px;
}

.legendas__titulo {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 40px;
}

.legendas__posicionamento {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.legendas__square {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid var(--cor-da-fonte);
}

.premium {
    background-color: #0E7DF1;
}

.comum {
    background-color: #FE016E;
}

.terreo {
    background-color: #01A89E;
}

.superiores {
    background-color: #3F51B5;
}

.rampas {
    background-image:url('../assets/rampa-cadeirante.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.square__legendas {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 40px;
}

/* Para tablets */

@media screen and (min-width: 768px) {
    .mapa-setores__div {
        width: 648px;
        height: 609px;
    }

    .legendas__titulo {
        font-size: 2rem;
        line-height: 37.7px;
    }
}

/* Para desktops */

@media screen and (min-width: 1440px) {
    .mapa-setores {
        flex-direction: row;
    }

    .mapa-setores__div {
        width: 690px;
        height: 716px;
    }
}