/* Para mobile */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo-boreal);
    padding-top: 2rem;
}

/* Relacionado ao banner inferior da index */

.banner-inferior__img {
    background-image: url('../assets/Banner-inferior-index.svg');
    background-position:center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-size: 100%;
    height: 100%;
}

.banner-inferior {
    width: 100%;
    height: 338px;
}

/* término do código relacionado ao banner inferior do index */

.container__rodape {
    text-align: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.rodape__texto {
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.rodape__lista {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.rodape__lista--item a {
    color: var(--cor-da-fonte);
}

/* Para desktops */

@media screen and (min-width: 1440px) {

    .rodape {
        flex-direction: row;
        justify-content: space-between;
    }

    .container__rodape {
        padding-left: 7.5rem;
    }

    .rodape__texto--div {
        width: 326px;
        padding-right: 7.5rem;
    }
}